<style>
th, td {
padding: 10px;
}
th {
text-align: right;
}
</style>
<h1>article created or modified</h1>
<table>
<tbody>
<tr>
<th>title :</th>
<td>{{ article.title}}</td>
</tr>
<tr>
<th>author:</th>
<td>{{ article.author }}</td>
</tr>
<tr>
<th>article body:</th>
<td>{{article.body}}</td>
</tr>
<tr>
<th>homepage:</th>
<td>{{article.url}}</td>
</tr>
</tbody>
</table>
<br/>
<a href="/show-articles">view all</a> -
<a href="/update-article/{'article.id}}">modify</a>

